.card {
  transition: all 0.3s ease-in-out;
  border: 2px solid transparent;
}

.border-primary {
  border-color: #0d6efd !important;
}

.border-danger {
  border-color: #dc3545 !important;
}

.card:hover {
  transform:scale(1.05);
}
