<div class="container-fluid d-flex align-items-center justify-content-center h-100 w-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-4">
        <form [formGroup]="loginForm">
          <mat-card>
            <mat-card-header class="justify-content-center mb-3">
              <mat-card-title >Sign In</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="row justify-content-center">
                <div class="col-auto w-100">
                  <div class="row">
                    <mat-form-field appearance="outline">
                      <mat-label>Username</mat-label>
                      <input matInput formControlName="username">
                      <mat-error>Username is required</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-auto w-100">
                  <div class="row">
                    <mat-form-field appearance="outline">
                      <mat-label>Password</mat-label>
                      <input matInput formControlName="password" type="password">
                      <mat-error>Password is Required</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions class="justify-content-center">
              <div class="row w-100">
                <button mat-flat-button color="primary" (click)="login()">Login</button>
              </div>
            </mat-card-actions>
          </mat-card>
        </form>

      </div>
    </div>
    </div>
</div>
